
CONFIG_BTRFS_FS_POSIX_ACL=y

CONFIG_DETECT_HUNG_TASK=y
CONFIG_SOFTLOCKUP_DETECTOR=y


CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
# auto:
# CONFIG_DYNAMIC_FTRACE=y

CONFIG_TRACEPOINTS=y

# /sys/bus/nvmem/devices/*/nvmem
CONFIG_NVMEM_SYSFS=y
CONFIG_NVMEM_RMEM=m

#   Reserved Memory Based Driver Support
#   │ CONFIG_NVMEM_RMEM:                                                                   │
#   │                                                                                      │
#   │ This driver maps reserved memory into an nvmem device. It might be                   │
#   │ useful to expose information left by firmware in memory.                             │
#   │                                                                                      │
#   │ This driver can also be built as a module. If so, the module                         │
#   │ will be called nvmem-rmem.

# gpu bus freq ctrl
CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_MSM8916=y
CONFIG_INTERCONNECT_QCOM_MSM8939=y
CONFIG_INTERCONNECT_QCOM_MSM8974=y
CONFIG_INTERCONNECT_QCOM_MSM8996=y



# pstore
#
# must engage this with cmd line:
# /etc/deviceinfo
# 	best_effort=y
# ... too early:
# [    0.907993] pstore_blk: failed to resolve '/dev/mmcblk0p11'!
# [    0.908062] pstore_blk: failed to open '/dev/mmcblk0p11': -2!

# next try as module:
# /etc/mkinitfs/modules/01-pstore.modules: pstore_blk
# /etc/mkinitfs/hooks/01-pstore.sh:
# #!/bin/sh
# modprobe pstore_blk blkdev=/dev/mmcblk0p11 best_effort=y


CONFIG_PSTORE_ZONE=m
CONFIG_PSTORE_BLK=m
# CONFIG_PSTORE_BLK_BLKDEV="/dev/mmcblk0p11"
# CONFIG_PSTORE_BLK_KMSG_SIZE=64
# CONFIG_PSTORE_BLK_MAX_REASON=2
# CONFIG_PSTORE_BLK_PMSG_SIZE=64
# CONFIG_PSTORE_BLK_CONSOLE_SIZE=64

